<div class="widget widget--status">
    <div class="widget__header">
        <span class="beer-style">BEER STYLE</span>
        <span class="beer-name">BEER NAME</span>
        <span class="beer-abv">0.00% ABV</span>
        <span class="beer-status">Leaking</span>
    </div>
    <div class="widget__content">
        <p><strong>Beer Left:</strong> 0.00%</p>
        <p><strong>Keg Tapped Date:</strong> mm/dd/yy</p>
        <p><strong>Las Pour Volume:</strong> 0.00oz</p>
    </div>
</div>