@charset "UTF-8";

.nav {
  font-size: 0.9em;
  height: $nav-height;
  background: $nav-background-color;
}

.nav,
.nav-right,
.nav-left,
.nav-item {
  display: flex;
}


.nav-left,
.nav-right {

}

.nav-right {
  margin-left: auto;
}

.nav-item {
  padding: 0 1em;

  figure, img {
    display: block;
  }

  figure {
    display: flex;
    align-items: center;
  }

  img {
    height: 100%;
    width: auto;
  }

  &.logo img {
    height: 80%;
  }
}
