<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>${title}</title>

    <link rel="icon" href="/images/favicon.svg" sizes="any" />
    <link rel="icon" href="/images/favicon.svg" type="image/svg+xml" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bayon&family=Work+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" data-autoreload href="/css/app.css" />
  </head>
  <body>
    <div id="app" class="main-content">
      <!-- This will be filled in with JS -->
    </div>
    <script type="text/javascript">
      ((n, ns) => {
        const timestamp = performance.now();
        window.APP_NAME = n;
        window.APP_NS = ns;
        window[window.APP_NS] = {
          route: "home",
          state: {},
          heartbeat: { timestamp, interval: 3000 },
          widgets: { order: [], timestamp, interval: 300000 },
        };
      })("${APP_NAME}", "${APP_NAMESPACE}");
    </script>
    <script type="text/javascript" src="/js/util.js"></script>
    <script type="text/javascript" src="/js/element.js"></script>
    <script type="text/javascript" src="/js/ws.js"></script>
    <script type="text/javascript" src="/js/nav.js"></script>
    <script type="text/javascript" src="/js/taps.js"></script>
    <script type="text/javascript" src="/js/breweries.js"></script>
    <script type="text/javascript" src="/js/settings.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>
  </body>
</html>
