@keyframes placeholder_shine {
  0% {
    background-position: -30em 0;
  }
  100% {
    background-position: 30em 0;
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fade-from-top-centered {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-15%) translateX(-50%);
  }

  75% {
    opacity: 1;
    visibility: visible;
  }

  90% {
    opacity: 1;
    visibility: visible;
    transform: translateY(5%) translateX(-50%);
  }

  100% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0) translateX(-50%);
  }
}
