.nav {
  font-size: 0.9em;
  height: var(--header-height);
  background: transparent;
}

.nav,
.nav-right,
.nav-left,
.nav-item {
  display: flex;
}

.nav-right {
  margin-left: auto;
}

.nav-item {
  padding: 0 1em;
}

.nav-item figure,
.nav-item figure span,
.nav-item img {
  display: block;
}

.nav-item figure {
  display: flex;
  align-items: center;
}

.nav-item img {
  height: 100%;
  width: auto;
}

.nav-item.logo figure span {
  height: 80%;
}

.nav-button {
  font-family: var(--font-family-labels);
  font-weight: var(--font-weight-bold);
  color: var(--tertiary);
  text-transform: uppercase;
  font-size: 1.2em;
}

.nav-button .text,
.nav-button .icon {
}
