/* Dark Theme */

:root.theme-dark .keg__name {
  text-shadow: none;
}

:root.theme-dark .keg__location,
:root.theme-dark .keg__detail p {
  color: var(--gray-bis);
}

:root.theme-dark .tap:before,
:root.theme-dark .tap:after {
  display: none;
}

/* Chalk Theme */

:root.theme-chalk body {
  background-size: cover;
  background-image: url("/images/chalk-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
}
