:root {
  /* Colors */
  --white: #feeece;
  --gray: #c2bfbc;
  --black: #000911;
  --black-bis: #000a12;

  --success: #026027;
  --error: #830214;
  --warning: #ddaa22;

  --background: #011323;
  --background-border: #192530;
  --background-alt: #463a27;

  --primary: #fc9700;
  --secondary: #ff2e2e;
  --tertiary: #c06a5b;
  --tertiary-bis: #aa5d50;

  --header-height: 55px;

  --button-height: 35px;
  --button-background: var(--tertiary-bis);
  --button-radius: var(--radius-rounded);

  --radius: 4px;
  --radius-large: 10px;
  --radius-rounded: 3000em;

  /* Font families and options */
  --font-base: 16px;
  --font-family-body: "Bayon", sans-serif;
  --font-family-labels: Arial, sans-serif;
  --font-weight-normal: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* Responsiveness */
  --mobile-width: 480px;
  --tablet-width: 768px;
  --desktop-width: 1024px;
}
