.widgets {
    display: grid;
    grid-gap: 0.25em;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 49%);
    height: calc(100% - 55px);
    padding: 0.5vh;
}

.widget {
    position: relative;
    display: grid;
    grid-template-columns: 9vmax 1fr 6vmax;
    grid-template-rows: 1fr 20%;
    grid-template-areas: "header label label" "header footer indicators";
    background: #1f2d23;
    border-radius: 4px;
    padding: 0.775em;
    font-size: 1.1vmax;
}

.widget__header {
    grid-area: header;
    padding: 0 1em 0 0;
    display: grid;
    grid-template-columns: 3vmax 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "title thermometer";
}

.widget__header .beer-name {
    grid-area: title;
    position: relative;
}

.widget__header .beer-name>div {
    font-size: 1.5em;
    line-height: 1;
    color: #FC9700;
    transform: rotate(270deg);
    word-break: keep-all;
    white-space: nowrap;
    text-align: center;
    overflow: hidden;
    position: absolute;
    left: 0.5vw;
    bottom: -1vw;
    transform-origin: top left;
}

.widget__header .thermometer {
    position: relative;
    grid-area: thermometer;
    display: flex;
    flex-grow: 1;
    border: 0.155em solid #EBB854;
    align-items: stretch;
}

.widget__header .thermometer__value,
.widget__header .thermometer__bar {
    position: absolute;
}

.widget__header .thermometer__value {
    top: -2em;
    text-align: center;
    width: 100%;
}

.widget__header .thermometer__bar {
    background: #EBB854;
    height: 50%;
    bottom: 0.155em;
    left: 0.155em;
    right: 0.155em;
}

.widget__header .thermometer__bar:before,
.widget__header .thermometer__bar:after {
    display: block;
    content: "";
    height: 2%;
    width: 100%;
    top: 0;
    left: 0;
}

.widget__header .thermometer__bar:before {
    background: #ffffff;
}

.widget__header .thermometer__bar:after {
    top: 4%;
    background: #f0ca7f;
}

.widget__header .thermometer__bar[data-section="8"] .thermometer__value,
.widget__header .thermometer__bar[data-section="6"] .thermometer__value,
.widget__header .thermometer__bar[data-section="7"] .thermometer__value {
    top: 50%;
    color: #000000;
}

.widget__label,
.widget__footer {
    border: 0.155em solid #EBB854;
}

.widget__label {
    grid-area: label;
    margin-bottom: 1em;
    background-position: center;
    background-repeat: no-repeat;
}

.widget__footer {
    grid-area: footer;
    padding: 5px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "title title" "abv date";
    font-size: 1.1vw;
}

.widget__footer .beer-style {
    font-size: 1.2em;
    grid-area: title;
}

.widget__footer .beer-abv,
.widget__footer .beer-created,
.widget__footer .beer-no-keg {
    align-self: flex-end;
}

.widget__footer .beer-no-keg,
.widget__footer .beer-abv {
    grid-area: abv;
}

.widget__footer .beer-no-keg {
    opacity: 0.35;
}

.widget__footer .beer-created {
    grid-area: date;
    text-align: right;
}

.widget__indicators {
    grid-area: indicators;
    display: flex;
    align-items: center;
    justify-content: center;
}

.widget .tap-no {
    text-align: center;
    align-content: center;
}

.widget .tap-no__value {
    grid-area: value;
    font-size: 2em;
}